@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap');

/* for myanmar font
@font-face {
    font-family: 'mm';
    font-weight: normal;
    src: url("/project/fonts/MyanmarSquareLight.ttf");
} */

:root {
	--primary: #17b978;
	--text: #5d5d5a;
	--soft: #c8c8c0;
	--light: #fff;
	--dark: #000;
	--softdark: rgb(221, 218, 218);
	--btn: #129b64;
	--border: 1px solid #5d5d5a;
	--br: 0.5rem;
}
* {
	margin: 0%;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Oswald', sans-serif;
	color: var(--text);
	/* font-family: 'Oswald', 'mm'; */
}
p {
	font-size: 2rem;
}
.divider {
	height: 0.5rem;
	background: var(--text);
	margin: 1rem 0;
}
.app {
	width: 70rem;
	margin: 10rem auto;
	/* background: rgba(0, 0, 0, 0.25); */
	backdrop-filter: blur(0.5rem);
	border-radius: 1rem;
	padding: 2rem;
}
.output {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.brand-container {
	display: flex;
	align-items: center;
}
.logo {
	width: 5rem;
}
.brand {
	margin-left: 1rem;
	font-size: 3rem;
}
.result-container {
	display: flex;
	align-items: center;
}
.result {
	font-size: 3rem;
}
.calc {
	display: flex;
	justify-content: space-between;
}
.container {
	width: 15rem;
}
.container label {
	display: block;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
.input,
.from,
.to {
	width: 100%;
	padding: 0.5rem 1rem;
	color: var(--text);
	font-size: 1.7rem;
	border-radius: var(--br);
	border: var(--border);
}
.input {
	text-align: right;
}
.from,
.to {
	text-align: center;
}

.calc-btn {
	width: 100%;
	height: 100%;
	font-size: 2rem;
	color: var(--light);
	border-radius: var(--br);
	border: var(--border);
	background-color: var(--primary);
	text-transform: uppercase;
}
.calc-btn:active {
	background-color: var(--btn);
}

.input,
.from,
.to,
.calc-btn:focus-visible {
	outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
select::-ms-expand {
	display: none;
}
select {
	-webkit-appearance: none;
	appearance: none;
}
@-moz-document url-prefix() {
	select {
		width: 110%;
		background-position: right 30px center !important;
		border: none !important;
	}
}

/* table css */
.history-container {
	margin-top: 1rem;
}
.history {
	font-size: 2rem;
	/* border-collapse: collapse; */
	width: 100%;
}
.history td,
.history th {
	border: 0.1rem solid var(--text);
	padding: 0.8rem;
	border-radius: var(--br);
	text-align: center;
}

.history tr:nth-child(odd) {
	background-color: var(--softdark);
}
.history tbody tr {
	transition: 0.5s;
}
.history tr:hover {
	background-color: var(--soft);
}

.history th {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	text-align: left;
	background-color: var(--primary);
	color: var(--text);
	text-align: center;
}

/* night mode */
.change-mode{
	width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background-color: #3d3d3f;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
	cursor: pointer;
}
.change-mode i{
	color: var(--light)
}



/* responsive  */
@media screen and (max-width: 480px) {
	.app{
		width: 96%;
		margin: 30px auto;
	}
	.output{
		flex-flow: column;
		align-items: flex-end;
	}
	.brand-container{
        width: 100%;
	}
	.calc{
        flex-wrap: wrap;
	}
	.container{
		width: 100%;
        margin-bottom: 1.5rem;
	}
	.from-container,.to-container{
        width: 46%;
    }
	.input,.from,.to{
		padding: 1.5rem 1rem;
	 }
	.calc-btn{
        padding: 1.5rem 0;
    }
	.history-container{
		margin: 0;
	}
}